.project-item {
  flex: 1 0 21%;
  margin: 1em;
  box-sizing: border-box;
  max-width: 400px;
  margin: 20px;
}

.project-item img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
}

.project-item a {
  color: blue;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-item img:hover {
  transform: scale(1.05);
}

.project-title {
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.project-description {
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
}
